* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: linear-gradient(324deg, #4be4e9, #a5f1f3, #d9f6f7);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

.weatherCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 30px;
  margin: 15px;
  padding: 1rem 1rem 1rem 1rem;
  background-color: black;
  cursor: pointer;
}

.weatherCard img {
  margin-top: -50px;
  width: 100%;
  height: 100%;
}

.weatherCard:hover {
  background-color: black;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
}

.weatherCard h1 {
  text-align: center;
  font-size: 2.6rem;
  margin-top: 1rem;
}

.weatherCard h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
}

.weatherCard ul {
  text-align: center;
  columns: 2;
  font-size: small;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.weatherCard .temp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 80px;
  /* border: 1px solid yellow; */
  font-size: 5rem;
  margin-top: 1rem;
  margin-right: 0px;
  right: 37px;
  position: absolute;
  top: 54%;
}

.weatherCard .cardButton {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #17669668;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media only screen and (max-width: 380px) {
  .weatherCard .temp {
    width: 300px;
    height: 80px;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
